.name-card{
    border:1px solid black;
    padding:10px;
    margin:5px;
    border-radius: 8px;
    font-family: sans-serif;
    width:200px;
}

.name{
    font-size:18px;
    font-weight: bold;
}

.age{
    font-size:12px;
    font-style: italic;
}